:root {
    --primary-blue-100 : hsl(225, 100%, 94%);
    --primary-blue-700 : hsl(245, 75%, 52%);
    --Neutral-blue-50:   hsl(225, 100%, 98%);
    --Neutral-blue-950:  hsl(223, 47%, 23%);
    --Neutral-gray-600:  hsl(224, 23%, 55%);
}
@font-face {
    font-family: main;
    src: url(./RedHatDisplay-VariableFont_wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: main;
    line-height: 1.6;
}
body {
    background: url(./images/pattern-background-desktop.svg) repeat-x;
    background-color: var(--primary-blue-100);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 620px;
    border-radius: 15px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 5px var(--primary-blue-100);
}
.info {padding: 30px; flex: 1; width: 100%;}
.pic img {border-radius: 15px 15px 0 0; width: 100%;}
.container .header {font-size: 24px; font-weight: 900; margin-bottom: 15px; color: var(--Neutral-blue-950);}
.container .info > p:nth-child(2) {
    font-size: 14px; 
    font-weight: 700; 
    color: var(--Neutral-gray-600); 
    margin: 0 auto 20px auto;
    max-inline-size: 30ch;
}
.plan {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--Neutral-blue-50);
    margin-bottom: 25px;
}
.plan > p:nth-child(2) {
    display: flex;
    flex-direction: column;
    color: var(--Neutral-blue-950);
    font-weight: 900;
}
.plan > p:nth-child(3) {
    margin-left: auto;
    color: var(--primary-blue-700);
    font-weight: 900;
    text-decoration: underline;
    font-size: 12px;
}
.plan > p:nth-child(3):hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}
button {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--primary-blue-700);
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 5px 20px 10px var(--primary-blue-100);
    margin-bottom: 30px;
}
button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.info > :last-child {
    font-size: 12px;
    font-weight: 900;
    color: var(--Neutral-gray-600);
}
.info > :last-child:hover {
    cursor: pointer;
    color: var(--Neutral-blue-950);
}
@media (max-width:375px) {
    .container {width: 340px;}
    .container .info > p:nth-child(2) {max-inline-size: 25ch;}
    body {background-image: url(./images/pattern-background-mobile.svg);}
    
}